.we-are-section {
    height: 900px;
  }
  @media (max-width: 991px) {
    .we-are-section {
      height: 1000px;
    }
  }
  .we-are {
    font-size: calc((21 * (1em - 13px) - -2em - 1px));
    color: #003a78;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 700;
    margin-bottom: 61px;
  }
  .text-start {
    font-size: calc((1 *(1em - 13px) - -2em - 10px));
    color: #363636;
    line-height: 1.8;
    letter-spacing: 0;
  }
  @media (max-width: 991px) {
    .text-start {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .about-us{
    font-size: calc((-.99 *(1em - 13px) - -2em - 12px));
    color: #003a78;
    font-weight: 700;
    
}
.design{
    font-family: icomoon!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 63px;
    color: #fdb811;
    position: absolute;
    top: 94px;
    right: 178px;
}
  
  
  